.brands-btns {
    display: flex;
    margin-top: 30px;
    margin-left: 150px;
    font-family: sans-serif;
}

.brand-title {
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.btns {
    padding: 10px 20px;
    margin-right: 6px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid black;
    color: rgb(144, 144, 144);
    cursor: pointer;
}
.dropdown-product{
    border-radius: 5px;
    border: 1px solid black;
}
select {
    width: 100%;
    font-size: 14px;
    padding: 0.675em 6em 0.675em 1em;
    background-color: #fff;
    border-radius: 0.25rem;
    height: 50px;
    cursor: pointer;
}